@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  padding: 0;
  text-align: start;
}

.login {
  background-color: #230647f9;
}

.hr-login {
  background-color: #230647f9;
  width: 2px;
  height: 22px;
  margin-top: 9px;
}

.bg-login-input {
  background-color: #67557c81;
  border: 1px solid rgb(202, 85, 87);
}

.bg-red {
  background-color: #DE438D;
}

.color-red {
  color: #DE438D;
}

.disabled-btn {
  opacity: 0.6;
}