@tailwind base;
@tailwind components;
@tailwind utilities;


.userIcon {
    height: 64px;
}

.sizeHr {
    width: 98%;
}

tr {
    border-bottom: 2px solid rgba(128, 128, 128, 0.133);
}

th {
    border-right: 2px solid rgba(128, 128, 128, 0.133);
}

td {
    border-right: 2px solid rgba(128, 128, 128, 0.133);
    border-bottom: 2px solid rgba(128, 128, 128, 0.133);
}

th:nth-last-child(1){
    border-right: none;
}

td:nth-last-child(1){
    border-right: none;
}

.modal-bg {
    background-color: rgba(0, 0, 0, 0.717);
}

.text-area-size {
    max-height: 100px;
}

.br-icon-close-modal {
    border: 1px solid #D85B53;
}

.modal .formulario.animar {
    position: relative;
    opacity: 1;
}

.modal .formulario.cerrar {
    opacity: 0;
}

.modal{
    height: 100vh;
    opacity: 0;
}

.modal.on{
    opacity: 1;
}

.formModal {
    transition-property: opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
    opacity: 0;
}

.formModal.animar {
    opacity: 1;
}

.formModal.cerrar {
    opacity: 0;
}

.alerta {
    padding: 0rem 5rem;
    max-width: 100%;
    margin: 1.5rem 0rem ;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
}
.alerta.error {
    background-color: var(--blanco);
    border-left: 5px solid #b91c1c;
    color: #b91c1c;
}

.alerta.success {
}

.h-modal {
    height: 95%;
}

@media (min-width: 1600px) and (max-width: 1920px) {
    .mb-custom {
      margin-bottom: 20px;
    }
    .mb-custom-2 {
      margin-bottom: 30px;
    }
    .mt-custom {
      margin-bottom: 30px;
    }
    .mt-custom-2 {
        margin-top: 30px;
    }
    .custom-height{
        height: 80%;
    }
    .custom-width {
        width: 80%;
    }
}
  .clase {
    position: fixed;
    z-index: -1;
  }


  .select {
    border: yellow;
  }

  .scrollable {
    max-height: 400px;
    overflow-y: scroll;
  }

  .table-pagos {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  .thead-pagos {
    position: sticky;
    top: 0;
    background-color: #3C82F6;
    color: white;
    z-index: 2;
  }
  
  .body-pagos {
    overflow-y: scroll;/* ajusta la altura deseada para el tbody */
  }